<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Teacher Info</title>
</head>
<body>
    <div>
        <details data-bg-color="#ffffff">
            <summary>
                Name
            </summary>
            <p>Gender: </p>
            <p>Age: </p>
            <p>Email: </p>
            <p>Phone: </p>
            <p>Country: </p>
            <p>City: </p>
            <p>Notes: </p>
        </details>
    </div>
</body>
</html>
