<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../scss/style.css"/>
    <link rel="stylesheet" href="../css/app.css">

    <title>Teacher Info</title>
</head>
<body>
    <div class="teacher-compact-info">
        <div class="teacher-avatar">
            <img class="teacher-avatar__img"
                 src="../images/avatar.jpg"
                 alt="Teacher photo"/>
        </div>
        <p class="teacher-compact-info__name">SM Melamed</p>
        <p class="teacher-compact-info__specialty">Computer Science</p>
        <p class="teacher-compact-info__nationality">Country</p>
    </div>
</body>
</html>
